@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
  margin: 0px;
  font-family: "Handlee";
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  background: darkgray;
  margin-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
}

.container {
  padding: 40px;
}

.input-text {
  border-radius: 20px;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  padding: 10px;
}

.btn-translate {
  width: auto;
  height: 50px;
  background: darkgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style: none;
  border-radius: 20px;
}

.output-text {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  border: 2px darkgray;
  border-style: dotted;
}

footer {
  display: block;
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
  background: darkgray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer p {
  padding: 0px;
}
